<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<RunConfiguration>
		<EnvironmentVariables>
            <IFOSOFT_PDF_GL_MEDZILABORCE_2025_TEST_FILE>F:\Audit\TESTS\TestAll\00323233 - Mesto Medzilaborce\HL_KNIHA_00323233_2025.pdf</IFOSOFT_PDF_GL_MEDZILABORCE_2025_TEST_FILE>
            <IFOSOFT_PDF_AF_MEDZILABORCE_2025_TEST_FILE>F:\Audit\TESTS\TestAll\00323233 - Mesto Medzilaborce\UCT_ROZVRH_00323233_2025.pdf</IFOSOFT_PDF_AF_MEDZILABORCE_2025_TEST_FILE>
			<IVES_GENERAL_LEDGER_CSV_TEST_FILE>F:\Audit\TESTS\Ives\00325465 - Obec Malčice 20260917\HL_KNIHA_00325465_2025.csv</IVES_GENERAL_LEDGER_CSV_TEST_FILE>
			<IVES_ACCOUNTING_FRAMEWORK_CSV_TEST_FILE>F:\Audit\TESTS\Ives\UCT_ROZVRH_00325465_2025.csv</IVES_ACCOUNTING_FRAMEWORK_CSV_TEST_FILE>

			<IFOSOFT_BULK_TEST_ROOT>F:\Audit\TESTS\TestAll</IFOSOFT_BULK_TEST_ROOT>
			<IFOSOFT_BULK_REPORT_FILE>F:\Audit\TESTS\IfoSoftBulkResults_IDE.csv</IFOSOFT_BULK_REPORT_FILE>

			<IFOSOFT_IMPORT_REGRESSION_ROOT>F:\Audit\TESTS\TestAll</IFOSOFT_IMPORT_REGRESSION_ROOT>
			<IFOSOFT_PDF_GL_KOLONICA_TEST_DIR>F:\Audit\TESTS\TestAll\00323161 - Obec Kolonica</IFOSOFT_PDF_GL_KOLONICA_TEST_DIR>
			<IFOSOFT_XML_JOURNAL_KOLONICA_TEST_FILE>f:\Audit\TESTS\TestAll\00323161 - Obec Kolonica\U_DENNIK_00323161_2022.xml</IFOSOFT_XML_JOURNAL_KOLONICA_TEST_FILE>
			<IFOSOFT_PDF_JOURNAL_KAMIENKA_TEST_DIR>F:\Audit\TESTS\TestAll\00323110 - Obec Kamienka</IFOSOFT_PDF_JOURNAL_KAMIENKA_TEST_DIR>

			<IFOSOFT_CSV_KAMIENKA_JOURNAL_TEST_FILE>f:\Audit\TESTS\TestAll\00323110 - Obec Kamienka\U_DENNIK_00323110_2024.CSV</IFOSOFT_CSV_KAMIENKA_JOURNAL_TEST_FILE>
			<IFOSOFT_CSV_KAMIENKA_LEDGER_TEST_FILE>f:\Audit\TESTS\TestAll\00323110 - Obec Kamienka\HL_KNIHA_00323110_2024.CSV</IFOSOFT_CSV_KAMIENKA_LEDGER_TEST_FILE>
			<IFOSOFT_PDF_AF_HUDCOVCE_TEST_FILE>f:\Audit\TESTS\TestAll\00323012 - Obec Hudcovce\UCT_ROZVRH_00323012_2024.pdf</IFOSOFT_PDF_AF_HUDCOVCE_TEST_FILE>
			<IFOSOFT_PDF_AF_KAMIENKA_TEST_FILE>f:\Audit\TESTS\TestAll\00323110 - Obec Kamienka\UCT_ROZVRH_00323110_2025.pdf</IFOSOFT_PDF_AF_KAMIENKA_TEST_FILE>
			<IFOSOFT_PDF_AF_KOLONICA_TEST_FILE>f:\Audit\TESTS\TestAll\00323161 - Obec Kolonica\UCT_ROZVRH_00323161_2022.pdf</IFOSOFT_PDF_AF_KOLONICA_TEST_FILE>
			<IFOSOFT_PDF_GL_AF_TEST_DIR>f:\Audit\TESTS\TestAll\00322857 - Obec Brestov nad Laborcom</IFOSOFT_PDF_GL_AF_TEST_DIR>
			<IFOSOFT_PDF_GL_HUDCOVCE_TEST_FILE>f:\Audit\TESTS\TestAll\00323012 - Obec Hudcovce\HL_KNIHA_00323012_2024.pdf</IFOSOFT_PDF_GL_HUDCOVCE_TEST_FILE>
			<IFOSOFT_PDF_JOURNAL_HANKOVCE_TEST_FILE>f:\Audit\TESTS\TestAll\00322962 - Obec Hankovce\U_DENNIK_00322962_2023_a.pdf</IFOSOFT_PDF_JOURNAL_HANKOVCE_TEST_FILE>
			<IFOSOFT_PDF_JOURNAL_HUDCOVCE_TEST_FILE>f:\Audit\TESTS\TestAll\00323012 - Obec Hudcovce\U_DENNIK_00323012_2024.pdf</IFOSOFT_PDF_JOURNAL_HUDCOVCE_TEST_FILE>
			<IFOSOFT_PDF_JOURNAL_KAMIENKA_TEST_DIR>f:\Audit\TESTS\TestAll\00323110 - Obec Kamienka</IFOSOFT_PDF_JOURNAL_KAMIENKA_TEST_DIR>
			<IFOSOFT_PDF_JOURNAL_SECOND_TEST_FILE>f:\Audit\TESTS\TestAll\00322857 - Obec Brestov nad Laborcom\U_DENNIK_00322857_2023.pdf</IFOSOFT_PDF_JOURNAL_SECOND_TEST_FILE>
			<IFOSOFT_PDF_JOURNAL_TEST_FILE>f:\Audit\TESTS\TestAll\00323748 - Obec Veľopolie\U_DENNIK_00323748_2023_a.pdf</IFOSOFT_PDF_JOURNAL_TEST_FILE>

			<IFOSOFT_XML_JOURNAL_HUDCOVCE_TEST_FILE>f:\Audit\TESTS\TestAll\00323012 - Obec Hudcovce\U_DENNIK_00323012_2023.xml</IFOSOFT_XML_JOURNAL_HUDCOVCE_TEST_FILE>
			<IFOSOFT_XML_JOURNAL_TEST_DIR>f:\Audit\TESTS\TestAll\00322962 - Obec Hankovce</IFOSOFT_XML_JOURNAL_TEST_DIR>
			<IVES_JOURNAL_XML_TEST_FILE>f:\Audit\TESTS\TestAll\00325465 - Obec Malčice\U_DENNIK_00325465_2025.xml</IVES_JOURNAL_XML_TEST_FILE>
			<IVES_GENERAL_LEDGER_PDF_TEST_FILE>F:\Audit\TESTS\Ives\00325465 - Obec Malčice 20260917\HL_KNIHA_00325465_2025.pdf</IVES_GENERAL_LEDGER_PDF_TEST_FILE>
			<IVES_JOURNAL_CSV_TEST_FILE>f:\Audit\TESTS\TestAll\00325465 - Obec Malčice\U_DENNIK_00325465_2025.csv</IVES_JOURNAL_CSV_TEST_FILE>
			<IVES_JOURNAL_XLSX_TEST_FILE>f:\Audit\TESTS\TestAll\00325465 - Obec Malčice\U_DENNIK_00325465_2025.xlsx</IVES_JOURNAL_XLSX_TEST_FILE>
			<IVES_JOURNAL_XML_TEST_FILE>f:\Audit\TESTS\TestAll\00325465 - Obec Malčice\U_DENNIK_00325465_2025.xml</IVES_JOURNAL_XML_TEST_FILE>
			<IFOSOFT_LAYOUT_TEST_DIR>f:\Audit\TESTS\IfoSoft\Layouts</IFOSOFT_LAYOUT_TEST_DIR>
			<IFOSOFT_FOCUSED_TEST_DIR>f:\Audit\TESTS\_TestMore</IFOSOFT_FOCUSED_TEST_DIR>

			<IVES_JOURNAL_PDF_TEST_FILE>f:\Audit\TESTS\TestAll\00325465 - Obec Malčice\U_DENNIK_00325465_2025.pdf</IVES_JOURNAL_PDF_TEST_FILE>
			<IVES_GENERAL_LEDGER_XML_ANALYSIS_FILE>f:\Audit\TESTS\Ives\00325465 - Obec Malčice 20260917\HL_KNIHA_XML test.xlsx</IVES_GENERAL_LEDGER_XML_ANALYSIS_FILE>

			<IVES_GENERAL_LEDGER_XML_TEST_FILE>F:\Audit\TESTS\Ives\00325465 - Obec Malčice 20260917\HL_KNIHA_00325465_2025.xml</IVES_GENERAL_LEDGER_XML_TEST_FILE>
			<IVES_ACCOUNTING_FRAMEWORK_XML_TEST_FILE>F:\Audit\TESTS\Ives\00325465 - Obec Malčice 20260917\UCT_ROZVRH_00325465_2025.xml</IVES_ACCOUNTING_FRAMEWORK_XML_TEST_FILE>

			<IVES_ACCOUNTING_FRAMEWORK_XLSX_TEST_FILE>f:\Audit\TESTS\Ives\00325465 - Obec Malčice 20260917\UCT_ROZVRH_00325465_2025.xlsx</IVES_ACCOUNTING_FRAMEWORK_XLSX_TEST_FILE>
			<IVES_GENERAL_LEDGER_XLSX_TEST_FILE>f:\Audit\TESTS\Ives\00325465 - Obec Malčice 20260917\HL_KNIHA_00325465_2025.xlsx</IVES_GENERAL_LEDGER_XLSX_TEST_FILE>

			<IVES_ACCOUNTING_FRAMEWORK_PDF_TEST_FILE>f:\Audit\TESTS\Ives\00325465 - Obec Malčice 20260917\UCT_ROZVRH_00325465_2025.pdf</IVES_ACCOUNTING_FRAMEWORK_PDF_TEST_FILE>

			<IFOSOFT_PDF_JOURNAL_KOLONICA_TEST_FILE>F:\Audit\TESTS\TestAll\00323161 - Obec Kolonica\U_DENNIK_00323161_2022.pdf</IFOSOFT_PDF_JOURNAL_KOLONICA_TEST_FILE>
			<IFOSOFT_XML_JOURNAL_KOLONICA_2023_TEST_FILE>F:\Audit\TESTS\TestAll\00323161 - Obec Kolonica\U_DENNIK_00323161_2023.xml</IFOSOFT_XML_JOURNAL_KOLONICA_2023_TEST_FILE>
			<IFOSOFT_XML_JOURNAL_KOLONICA_2024_TEST_FILE>F:\Audit\TESTS\TestAll\00323161 - Obec Kolonica\U_DENNIK_00323161_2024.xml</IFOSOFT_XML_JOURNAL_KOLONICA_2024_TEST_FILE>
			<IFOSOFT_PDF_JOURNAL_KOLONICA_2025_TEST_FILE>F:\Audit\TESTS\TestAll\00323161 - Obec Kolonica\U_DENNIK_00323161_2025.pdf</IFOSOFT_PDF_JOURNAL_KOLONICA_2025_TEST_FILE>
			<IFOSOFT_PDF_GL_KOLONICA_2023_TEST_FILE>F:\Audit\TESTS\TestAll\00323161 - Obec Kolonica\HL_KNIHA_00323161_2023.pdf</IFOSOFT_PDF_GL_KOLONICA_2023_TEST_FILE>
			<IFOSOFT_PDF_GL_KOLONICA_2025_TEST_FILE>F:\Audit\TESTS\TestAll\00323161 - Obec Kolonica\HL_KNIHA_00323161_2025_a.pdf</IFOSOFT_PDF_GL_KOLONICA_2025_TEST_FILE>
			<IFOSOFT_PDF_GL_KOLONICA_2025_SUMMARY_TEST_FILE>F:\Audit\TESTS\TestAll\00323161 - Obec Kolonica\HL_KNIHA_00323161_2025_b.pdf</IFOSOFT_PDF_GL_KOLONICA_2025_SUMMARY_TEST_FILE>

			<IFOSOFT_XML_JOURNAL_LADOMIROV_2023_TEST_FILE>F:\Audit\TESTS\TestAll\00323195 - Obec Ladomirov\U_DENNIK_00323195_2023.xml</IFOSOFT_XML_JOURNAL_LADOMIROV_2023_TEST_FILE>
			<IFOSOFT_XML_JOURNAL_LADOMIROV_2024_TEST_FILE>F:\Audit\TESTS\TestAll\00323195 - Obec Ladomirov\U_DENNIK_00323195_2024.xml</IFOSOFT_XML_JOURNAL_LADOMIROV_2024_TEST_FILE>
			<IFOSOFT_CSV_JOURNAL_LADOMIROV_2025_TEST_FILE>F:\Audit\TESTS\TestAll\00323195 - Obec Ladomirov\U_DENNIK_00323195_2025.CSV</IFOSOFT_CSV_JOURNAL_LADOMIROV_2025_TEST_FILE>
			<IFOSOFT_PDF_JOURNAL_LADOMIROV_2025_TEST_FILE>F:\Audit\TESTS\TestAll\00323195 - Obec Ladomirov\U_DENNIK_00323195_2025.pdf</IFOSOFT_PDF_JOURNAL_LADOMIROV_2025_TEST_FILE>
		</EnvironmentVariables>
	</RunConfiguration>
</RunSettings>